<header class=" text-white px-3 d-flex justify-content-between align-items-center" style="background-color: #11468f;">
  <div class="d-flex align-items-center">
    <div class=" ">
      <%= image_tag 'logo5.png', alt: 'Logo', class: 'logo'  %>
    </div>
    <div class="vertical-line"></div>
    <div class="">
      <h2 class="fw-bold">Dental Credentialing<br> Manager</h2>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <i class="fas fa-bell fa-lg me-3"></i>
    <div class="rounded bg-white text-dark fw-bold d-flex justify-content-center align-items-center" style="width: 28px; height: 28px;">JD</div>
    <i class="fa-solid fa-circle-user ms-2 fa-3x fs-3"></i>
  </div>
</header>
<div class="d-flex vh-100">
  <nav class="bg-white p-3 sidebar">
    <div class=" fw-bold">
      <a href="" class=" list-group-item list-group-item-action ">
        <i class="fa-solid fa-box-open me-3"></i> APPLICATION
      </a>
      <a href="" class="list-group-item list-group-item-action  px-3">
        <i class="fa-solid fa-location-arrow me-3 "></i> LOCATIONS
      </a>
      <a href="<%= doctors_path %>" class="list-group-item list-group-item-action active">
        <i class="fa-solid fa-stethoscope me-3 "></i> DOCTORS
      </a>
      <a href="#" class="list-group-item list-group-item-action ">
        <i class="fa-solid fa-truck-ramp-box me-3 "></i> PAR TRACKING
      </a>
      <a href="#" class="list-group-item list-group-item-action ">
        <i class="fas fa-question-circle me-3 "></i> HELP / CODES
      </a>
      <a href="#" class="list-group-item list-group-item-action ">
        <i class="fa-solid fa-door-open me-3"></i> LOG OUT
      </a>
    </div>
  </nav>
  <div class="vertical-line1"></div> 

  <main class="flex-grow-1 p-2 mx-4">
    <h2 class="fw-bold">
      DOCTOR PROFILE
      <i class="fas fa-info-circle"></i>
      <hr style="width: 30%;">
    </h2>
    <h5 class="mt-4 fw-bold fs-1"><%= @doctor.full_name %></h5>
    <div class="row mt-3">
      <div class="col d-flex flex-wrap gap-2">
        <%= link_to 'Personal(0)', edit_personal_doctor_path(@doctor), class: "btn1 btn btn-blue" %>
        <%= link_to 'Education(0)', '#', onclick: "saveAndNavigate('#{edit_education_doctor_path(@doctor)}')", class: "btn1 btn btn-grey" %>
        <%= link_to 'Offices(0)','#', onclick: "saveAndNavigate('#{edit_office_doctor_path(@doctor)}')", class: "btn1 btn btn-grey" %>
        <%= link_to 'Work History(0)', '#', onclick: "saveAndNavigate('#{edit_work_history_doctor_path(@doctor)}')", class: "btn1 btn btn-grey" %>
        
        <%= link_to 'Liability(0)','#', onclick: "saveAndNavigate('#{edit_liability_doctor_path(@doctor)}')", class: "btn1 btn btn-grey" %>
        <%= link_to 'Disclosure(0)', '#', onclick: "saveAndNavigate('#{edit_disclosure_doctor_path(@doctor)}')", class: "btn1 btn btn-grey" %>
        <button class="btn1 btn-grey">Save</button>
      </div>
    </div>
    <div class="row border mt-3 fw-bold m-1">
      <div class="row">
        <div class="text-end mt-3">
          <button class=" btn1 btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target=".collapse" aria-expanded="false" aria-controls="collapseExample">
          COLLAPSE ALL
          </button>
        </div>
      </div>
      <div class="p-3">
        <div id="collapsePersonalInfo" class="collapse show">
          <%= form_with(model: @doctor, local: true, html: { class: "form-border", id: "personal-form" }) do |form| %>
            <div class="col-md-12 border-direction ">
              <fieldset class="border">
                <div class="row border grey-head margin-heading">
                  <legend class="w-auto fs-6 py-1">Personal Information</legend>
                </div>
                <div class="mb-3 row mt-2 px-3">
                  <%= form.label :ssn, "1. SSN", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :ssn, class: "form-control border-dark rounded-0 " %>
                    <a href="" class="btn btn-blue mt-2">HIDE</a>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :last_name, "2. LAST NAME", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :last_name, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :first_name, "3. FIRST NAME", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :first_name, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :date_of_birth, "4. DATE OF BIRTH (MM/DD/YYYY)", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.date_field :date_of_birth, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :middle_initial, "5. MIDDLE INITIAL", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :middle_initial, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="row px-3">
                  <%= form.label :todays_date, "6. TODAYS DATE (MM/DD/YYYY)", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.date_field :todays_date, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>
              </fieldset>

              <fieldset class="border">
                <div class="row grey-head margin-heading">
                  <legend class="w-auto py-1 fs-6">Language Spoken (for any application that do not use the code system)</legend>
                </div>
                <div class="mb-3 row mt-3 px-3">
                  <div class="col-sm-9">
                    <%= form.label :languages_spoken1, "7. LANGUAGES SPOKEN (OTHER THAN ENGLISH)", class: "col-form-label" %>
                  </div>
                  <div class="col-sm-3">
                    <%= form.text_field :languages_spoken1, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row mt-3 px-3">
                  <div class="col-sm-9">
                    <%= form.label :languages_spoken2, "8. LANGUAGES SPOKEN (OTHER THAN ENGLISH)", class: "col-form-label" %>
                  </div>
                  <div class="col-sm-3">
                    <%= form.text_field :languages_spoken2, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row mt-3 px-3">
                  <div class="col-sm-9">
                    <%= form.label :languages_spoken3, "9. LANGUAGES SPOKEN (OTHER THAN ENGLISH)", class: "col-form-label" %>
                  </div>
                  <div class="col-sm-3">
                    <%= form.text_field :languages_spoken3, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>
              </fieldset>

    
              <fieldset class="border">
                <div class="row grey-head margin-heading">
                  <legend class="w-auto fs-6 py-1 ">IDs: Professional</legend>
                </div>
                <div class="mb-3 row mt-3 px-3">
                  <%= form.label :dea_number, "10. WHAT IS YOUR DEA NUMBER?*", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :dea_number, class: "form-control border-dark" %>
                    <a href="" class="btn btn-blue mt-2">HIDE</a>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <div class="col-sm-9">
                    <%= form.label :dea_issue_date, "11. DEA ISSUE DATE (MM/DD/YYYY)*", class: " col-form-label" %>
                  </div>
                  <div class="col-sm-3">
                    <%= form.date_field :dea_issue_date, class: "form-control border-dark"  %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <div class="col-sm-9">
                    <%= form.label :dea_expiration_date, "12. DEA EXPIRATIN DATE (MM/DD/YYYY)*", class: " col-form-label" %>
                  </div>
                  <div class="col-sm-3">
                    <%= form.date_field :dea_expiration_date, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>
              </fieldset>

              <fieldset class="border">
                <div class="row grey-head margin-heading">
                  <legend class="w-auto py-1 fs-6">License: Primary State</legend>
                </div>

                <div class="mb-3 row mt-3 px-3">
                  <%= form.label :state_license_number, "13. STATE LICENSE NUMBER", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :state_license_number, class: "form-control border-dark" %>
                    <a href="" class="btn btn-blue mt-2">HIDE</a>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :license_issuing_state, "14. LICENSE ISSUING STATE", class: "col-sm-9 col-form-label " %>
                  <div class="col-sm-3">
                    <%= form.text_field :license_issuing_state, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :license_expiration_date, "15. LICENSEE EXPIRATION DATE (MM/DD/YYYY)*", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.date_field :license_expiration_date, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>
              </fieldset>

              <fieldset class="border">
                <div class="row grey-head margin-heading">
                  <legend class="w-auto fs-6 py-1">License: Additional States</legend>
                </div>

                <div class="mb-3 row mt-3 px-3">
                  <%= form.label :state_license_number, "16. STATE LICENSE NUMBER", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :state_license_number, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :license_issuing_state, "17. LICENSE ISSUING STATE", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :license_issuing_state, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :license_expiration_date, "18. LICENSEE EXPIRATION DATE (MM/DD/YYYY)", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.date_field :license_expiration_date, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>
              </fieldset>

              <fieldset class="border">
                <div class="row grey-head margin-heading">
                  <legend class="w-auto fs-6 py-1">IDs: Other</legend>
                </div>

                <div class="mb-3 row mt-3 px-3">
                  <%= form.label :controlled_substance_issue_date, "19. CONTROLLED SUBSTANCE ISSUE DATE", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.date_field :controlled_substance_issue_date, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :medicaid_number, "20. MEDICAID NUMBER", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :medicaid_number, class: "form-control border-dark" %>
                    <a href="" class="btn btn-blue mt-2">HIDE</a>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :npi_number, "21. NATIONAL PROVIDER IDENTIFICATION NUMBER (NPI)", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :npi_number, class: "form-control border-dark" %>
                    <a href="" class="btn btn-blue mt-2">HIDE</a>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :state_controlled_substance_number, "22. STATE CONTROLLED SUBSTANCE #", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :state_controlled_substance_number, class: "form-control border-dark" %>
                    <a href="" class="btn btn-blue mt-2">HIDE</a>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :controlled_substance_expiration_date, "23. CONTROLLED SUBSTANCE EXPIRATION DATE (MM/DD/YYYY)", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.date_field :controlled_substance_expiration_date, class: "form-control border-dark" %>
                  </div>
                </div>
                <hr>
              </fieldset>


              <fieldset class="border">
                <div class="row grey-head margin-heading">
                  <legend class="w-auto py-2 fs-6">Miscellaneous: Profile Information</legend>
                </div>

                <div class="mb-3 row mt-3 px-3">
                  <%= form.label :professional_degree, "24. Professional Degree/Title", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :professional_degree, class: "form-control" %>
                  </div>
                </div><hr> 

                <%# 25. Gender Question %>
                <div class="mb-3 row px-3">
                  <%= form.label :is_male, "25. Are you male?", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3  border">
                    <div class="form-check form-check-inline ">
                      <%= form.radio_button :is_male, true, id: "is_male_yes", class: "form-check-input" %>
                      <%= form.label :is_male, "Yes", class: "form-check-label", for: "is_male_yes" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 20%;">
                      <%= form.radio_button :is_male, false, id: "is_male_no", class: "form-check-input" %>
                      <%= form.label :is_male, "No", class: "form-check-label", for: "is_male_no" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 18%">
                      <%= form.radio_button :is_male, nil, id: "is_male_na", class: "form-check-input" %>
                      <%= form.label :is_male, "N/A", class: "form-check-label", for: "is_male_na" %>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :is_female, "26. Are you female?", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :is_female, true, id: "is_female_yes", class: "form-check-input" %>
                      <%= form.label :is_female, "Yes", class: "form-check-label", for: "is_female_yes" %>
                    </div>
                    <div class="form-check form-check-inline " style="margin-left: 20%;">
                      <%= form.radio_button :is_female, false, id: "is_female_no", class: "form-check-input" %>
                      <%= form.label :is_female, "No", class: "form-check-label", for: "is_female_no" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 18%;">
                      <%= form.radio_button :is_female, nil, id: "is_female_na", class: "form-check-input" %>
                      <%= form.label :is_female, "N/A", class: "form-check-label", for: "is_female_na" %>
                    </div>
                  </div>
                </div>
                <hr>

                <div class="mb-3 row px-3">
                  <%= form.label :is_owner, "27. Are you Owner?", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :is_owner, true, id: "is_owner_yes", class: "form-check-input" %>
                      <%= form.label :is_owner, "Yes", class: "form-check-label", for: "is_owner_yes" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 20%;">
                      <%= form.radio_button :is_owner, false, id: "is_owner_no", class: "form-check-input" %>
                      <%= form.label :is_owner, "No", class: "form-check-label", for: "is_owner_no" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 18%;">
                      <%= form.radio_button :is_owner, nil, id: "is_owner_na", class: "form-check-input" %>
                      <%= form.label :is_owner, "N/A", class: "form-check-label", for: "is_owner_na" %>
                    </div>
                  </div>
                </div>
                <hr>


                <div class="mb-3 row px-3">
                  <%= form.label :is_associate, "28. Are you Associate?", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :is_associate, true, id: "is_associate_yes", class: "form-check-input" %>
                      <%= form.label :is_associate, "Yes", class: "form-check-label", for: "is_associate_yes" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 20%;">
                      <%= form.radio_button :is_associate, false, id: "is_associate_no", class: "form-check-input" %>
                      <%= form.label :is_associate, "No", class: "form-check-label", for: "is_associate_no" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 18%;">
                      <%= form.radio_button :is_associate, nil, id: "is_associate_na", class: "form-check-input" %>
                      <%= form.label :is_associate, "N/A", class: "form-check-label", for: "is_associate_na" %>
                    </div>
                  </div>
                </div>
                <hr>

                <!-- Are you DDS? -->
                <div class="mb-3 row px-3">
                  <%= form.label :is_dds, "29. Are you DDS?", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :is_dds, true, id: "is_dds_yes", class: "form-check-input" %>
                      <%= form.label :is_dds, "Yes", class: "form-check-label", for: "is_dds_yes" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 20%;">
                      <%= form.radio_button :is_dds, false, id: "is_dds_no", class: "form-check-input" %>
                      <%= form.label :is_dds, "No", class: "form-check-label", for: "is_dds_no" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 18%;">
                      <%= form.radio_button :is_dds, nil, id: "is_dds_na", class: "form-check-input" %>
                      <%= form.label :is_dds, "N/A", class: "form-check-label", for: "is_dds_na" %>
                    </div>
                  </div>
                </div>
                <hr>

                <!-- Are you DMD? -->
                <div class="mb-3 row px-3">
                  <%= form.label :is_dmd, "30. Are you DMD?", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :is_dmd, true, id: "is_dmd_yes", class: "form-check-input" %>
                      <%= form.label :is_dmd, "Yes", class: "form-check-label", for: "is_dmd_yes" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 20%;">
                      <%= form.radio_button :is_dmd, false, id: "is_dmd_no", class: "form-check-input" %>
                      <%= form.label :is_dmd, "No", class: "form-check-label", for: "is_dmd_no" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 18%;">
                      <%= form.radio_button :is_dmd, nil, id: "is_dmd_na", class: "form-check-input" %>
                      <%= form.label :is_dmd, "N/A", class: "form-check-label", for: "is_dmd_na" %>
                    </div>
                  </div>
                </div>
                <hr>

                <!-- Are you GENERAL DENTIST? -->
                <div class="mb-3 row px-3">
                  <%= form.label :is_general_dentist, "31. Are you GENERAL DENTIST?", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :is_general_dentist, true, id: "is_general_dentist_yes", class: "form-check-input" %>
                      <%= form.label :is_general_dentist, "Yes", class: "form-check-label", for: "is_general_dentist_yes" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 20%;">
                      <%= form.radio_button :is_general_dentist, false, id: "is_general_dentist_no", class: "form-check-input" %>
                      <%= form.label :is_general_dentist, "No", class: "form-check-label", for: "is_general_dentist_no" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 18%;">
                      <%= form.radio_button :is_general_dentist, nil, id: "is_general_dentist_na", class: "form-check-input" %>
                      <%= form.label :is_general_dentist, "N/A", class: "form-check-label", for: "is_general_dentist_na" %>
                    </div>
                  </div>
                </div>
                <hr>


                <%# Example text field for speciality %>
                <div class="mb-3 row px-3">
                  <%= form.label :specialty, "32. Indicate Speciality*", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :specialty, class: "form-control border-dark" %>
                  </div>
                </div><hr>

                <%# Example for Other question %>
                <div class="mb-3 row px-3">
                  <%= form.label :is_other, "33. OTHER?", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                      <%= form.radio_button :is_other, true, id: "is_other_yes", class: "form-check-input" %>
                      <%= form.label :is_other, "Yes", class: "form-check-label", for: "is_other_yes" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 20%;">
                      <%= form.radio_button :is_other, false, id: "is_other_no", class: "form-check-input" %>
                      <%= form.label :is_other, "No", class: "form-check-label", for: "is_other_no" %>
                    </div>
                    <div class="form-check form-check-inline" style="margin-left: 18%;">
                      <%= form.radio_button :is_other, nil, id: "is_other_na", class: "form-check-input" %>
                      <%= form.label :is_other, "N/A", class: "form-check-label", for: "is_other_na" %>
                    </div>
                  </div>
                </div>
                <hr>


                <%# Example for listing other details %>
                <div class="row px-3 mb-2">
                  <%= form.label :other_details, "34. LIST OTHER", class: "col-sm-9 col-form-label" %>
                  <div class="col-sm-3">
                    <%= form.text_field :other_details, class: "form-control border-dark" %>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</div>



<style>

  form label {
  text-transform: uppercase;
}


.border-direction{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
  .margin-heading{
    margin-left:0px;
    margin-right: 0px;
  }
.list-group-item {
  padding: 23px;
  display: flex;
  align-items: center;
  color: #6c757d;
}
.list-group-item.active {
  background-color: #26408B;
  color: white;
  border-radius: 18px;
  padding: 19px;
}

.logo{
  height: 20%;
  width: 173px;
}

.btn1 {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-blue {
  background-color: #11468f;
  color: white;
  border-radius: 10px !important;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-danger {
  color: white;
  margin-left: 10px;
  font-weight: bold;
  padding-left: 15px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.btn-grey{
  background-color: #8d8d8d;
  color: #eee;
}
.vertical-line {
  border-left: 2px solid white;
  height: auto;
  min-height: 85px;
  margin: 0 42px;
}
.vertical-line1 {
  border-left: 1px solid #ccc;
  height: 100%;
  min-height: 3100px;
}
  .para1{
    font-size: 23.5px;
  }
  .grey-head{
    background-color: lightgrey;
  }

  .fas.fa-info-circle {
  color: #7dccfc;
  padding-top: 15px;
  border-radius: 50%;
  font-size: 12px;
   position: relative;
  top: -5px;
}

input.form-control {
  border-radius: 0 !important;
  border:1px solid black;
}
</style>


<script type="text/javascript">

  function saveAndNavigate(url) {
  $.ajax({
    url: '<%= save_doctor_doctor_path(@doctor) %>',  // Corrected PATCH route for saving Doctor data
    method: 'PATCH',
    data: $('#personal-form').serialize(),  // Serialize data from the Personal form
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')  // Attach CSRF token
    },
    success: function() {
      // Redirect to the specified URL (next tab) on success
      window.location.href = url;
    },
    error: function(xhr, status, error) {
      console.error("Error: " + error);
      alert('There was an error saving the data.');
    }
  });
}
</script>